$rich-black-fogra-29: rgba(0, 21, 36, 1);
$ming: rgba(21, 97, 109, 1);
$blanched-almond: rgba(255, 236, 209, 1);
$amber-sae-ece: rgba(255, 125, 0, 1);
$kobe: rgba(120, 41, 15, 1);

$board-size: 200px;
$board-size-768vw: 300px;

$padding-panel: 25px;
$padding-panel-360vh: 30px;
$padding-panel-411vh: 30px;
$padding-panel-768vh: 50px;
